body{
    margin: 0;
    padding: 0;
    background-color: #312e2e;
    display: flex;
    justify-content: center;
}

.main{
    margin-top: 20px;
    width: 600px;
    height: 600px;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table td{
    border: 8px solid white;     
}

.table tr td div{
    height: 190px;
    width: 190px;
    background-color: #312e2e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table tr td div p{
    font-size: 70pt;
    color: white;
}

.table tr td div:hover{
    height: 190px;
    width: 190px;
    background-color: #85b8ad;
}

#p0-0{
    border-top: 0px;
    border-left: 0px;
}

#p0-1{
    border-top: 0px;
}

#p0-2{
    border-top: 0px;
    border-right: 0px;
}

#p1-0{
    border-left: 0px;
}

#p1-1{
    border-top: 0px;
    border-right: 0px;
}

#p1-2{
    border-right: 0px;
}

#p2-0{
    border-bottom: 0px;
    border-left: 0px;
}

#p2-1{
    border-bottom: 0px;
}

#p2-2{
    border-bottom: 0px;
    border-right: 0px;
}