* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #312e2e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main {
    flex-direction: column;
    gap: 5;
}

.game {
    height: 580px; /* 580 */
    width: 580px; /* 580 */
    display: grid;
    grid-template-columns: 1fr 1fr 0fr ;
    grid-template-rows: 1fr 1fr;
    background-color: blue;
}

.game button {
    height: 180px; /* 180 */
    width: 180px; /* 180 */
    margin: 0px 0px 0px 0px;
    padding: -5px;
    cursor: pointer;
    background-color: #461818;
    font-size: 70px;
    color: white;
    border: none;
}

button:hover {
    background-color: rgb(109, 128, 128);
}

.checkoutPlayer {
    color: white;
}

.controlPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
}

h2 {
    color: white;
    font-size: 25px;
}